header {
  height: 75px;
  width: 480px;
  line-height: 75px;
  background-color: yellow;
  text-align: center;
  border: 5px solid black; 
}

div {
  height: 150px;
  width: 480px;
  background-color: red;
  line-height: 150px;
  text-align: center;
  border: 5px solid black; 
}

p:first-child {
  width: 480px;
  height: 125px;
  background-color: blue;
  line-height: 125px;
  text-align: center;
  border: 5px solid black; 
}

p:last-child {
  width: 480px;
  height: 125px;
  background-color: green;
  line-height: 125px;
  text-align: center;
  border: 5px solid black; 
}

article{
  width: 480px;
  height: 500px;

}

section:first-child{
  float: left;
  width: 240px;
  height: 250px;
  background-color: hotpink;
  line-height: 250px;
  text-align: center;
  border: 5px solid black; 
}

section:nth-child(2){
  float: right;
  width: 240px;
  height: 250px;
  background-color: lawngreen;
  line-height: 250px;
  text-align: center;
  border: 5px solid black; 
}

section:nth-child(3){
  float: left;
  width: 240px;
  height: 250px;
  background-color: lightseagreen;
  line-height: 250px;
  text-align: center;
  border: 5px solid black; 
}

section:last-child{
  float:right;
  width: 240px;
  height: 250px;
  background-color: lime;
  line-height: 250px;
  text-align: center;
  border: 5px solid black; 
}

footer {
  width: 480px;
  height: 80px;
  background-color: maroon;
  line-height: 80px;
  text-align: center;
  border: 5px solid black; 

}

@media (min-width:768px) {

  body {
    margin: auto;
    width: 960px;
  }
  /* a */
  header {
    height: 100px;
    width: 960px;
    line-height: 100px;
    background-color: red;
    text-align: center;
    border: 5px solid black; 
  }
  
  /* b */
  div {
    height: 600px;
    width: 200px;
    background-color: yellow;
    line-height: 600px;
    text-align: center;
    border: 5px solid black; 
    float: left;
  }
  
  main {
    border: 0px solid black; 
    width: 760px;
    height: 200px;
    float: left;

  }
  
  /* c */
  p:first-child {
    width: 380px;
    height: 200px;
    background-color: green;
    line-height: 200px;
    text-align: center;
    border: 5px solid black; 
    float: left;
  }
  
  /* d */
  p:last-child {
    width: 380px;
    height: 200px;
    background-color: blue;
    line-height: 200px;
    text-align: center;
    border: 5px solid black; 
    float: right;
  }
  
  article {
    float: left;
    width: 760px;
    height: 250px;
  }
  /* e */
  section:first-child{
    float: left;
    width: 190px;
    height: 250px;
    background-color: lawngreen;
    line-height: 250px;
    text-align: center;
    border: 5px solid black; 
  }
  
  /* f */
  section:nth-child(2){
    width: 190px;
    height: 250px;
    background-color: hotpink;
    line-height: 250px;
    text-align: center;
    border: 5px solid black; 
    float: left;
  }
  
  /* g */
  section:nth-child(3){
    width: 190px;
    height: 250px;
    background-color: lime;
    line-height: 250px;
    text-align: center;
    border: 5px solid black; 
    /* float: right; */
  }
  
  /* h */
  section:last-child{
    /* float:right; */
    width: 190px;
    height: 250px;
    background-color: lightseagreen;
    line-height: 250px;
    text-align: center;
    border: 5px solid black; 
  }
  
  /* i */
  footer {
    float: right;
    width: 760px;
    height: 150px;
    background-color: teal;
    line-height: 150px;
    text-align: center;
    border: 5px solid black; 
  
  }

}

@media (min-width:960px) {

  body {
    width: 960px;
    align-content: center;
    margin: auto;
  }
  /* a */
  header {
    height: 100px;
    width: 960px;
    line-height: 100px;
    background-color: red;
    text-align: center;
    border: 5px solid black; 
  }
  
  /* b */
  div {
    height: 600px;
    width: 200px;
    background-color: yellow;
    line-height: 600px;
    text-align: center;
    border: 5px solid black; 
    float: left;
  }
  
  main {
    border: 0px solid black; 
    width: 760px;
    height: 200px;
    float: left;

  }
  
  /* c */
  p:first-child {
    width: 380px;
    height: 200px;
    background-color: green;
    line-height: 200px;
    text-align: center;
    border: 5px solid black; 
    float: left;
  }
  
  /* d */
  p:last-child {
    width: 380px;
    height: 200px;
    background-color: blue;
    line-height: 200px;
    text-align: center;
    border: 5px solid black; 
    float: right;
  }
  
  article {
    float: left;
    width: 760px;
    height: 250px;
  }
  /* e */
  section:first-child{
    float: left;
    width: 190px;
    height: 250px;
    background-color: lawngreen;
    line-height: 250px;
    text-align: center;
    border: 5px solid black; 
  }
  
  /* f */
  section:nth-child(2){
    width: 190px;
    height: 250px;
    background-color: hotpink;
    line-height: 250px;
    text-align: center;
    border: 5px solid black; 
    float: left;
  }
  
  /* g */
  section:nth-child(3){
    width: 190px;
    height: 250px;
    background-color: lime;
    line-height: 250px;
    text-align: center;
    border: 5px solid black; 
    /* float: right; */
  }
  
  /* h */
  section:last-child{
    /* float:right; */
    width: 190px;
    height: 250px;
    background-color: lightseagreen;
    line-height: 250px;
    text-align: center;
    border: 5px solid black; 
  }
  
  /* i */
  footer {
    float: right;
    width: 760px;
    height: 150px;
    background-color: teal;
    line-height: 150px;
    text-align: center;
    border: 5px solid black; 
  
  }

}